.header {
    width: 100%;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header-logo-text{
    font-family: 'DM Serif Display';
    font-size: 15px;
    width: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 13%;
}

.header-text{
    font-size: 3rem; /* Adjust as per requirement */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow */
  text-align: center; /* Align to center */
  width: 100%; /* Full width */
  display: block; /* Ensure it behaves as a block */
}

.header-logo {
    display: flex;
    width: 40%;
    align-items: center;
}

.header-logo>img{
    width: 100%;
}

.header-pages {
    width: 55%;
    display: flex;
}

.header-pages>ul{
    list-style-type: none;
    font-family: Jost;
    font-weight: 400;
    display: flex;
    flex-direction: row;
}

.header-pages>ul>li{
    margin-right: 6%;
}
@media screen and (max-width: 768px) {
    .heading-text {
      font-size: 2rem; /* Reduce size for small screens */
    }
  }
  